:root {
  --lightGreen: #d0e2aa;
  --oliveGreen: #a0cf40;
  --darkOliveGreen: darkolivegreen;
  --yellow: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Apex Lake';
  src: local('Apex Lake'), url('./fonts/ApexLakeRegular-LPaD.ttf') format('truetype');
}

@font-face {
  font-family: 'Hidden Vines';
  src: local('Zengo'), url('./fonts/JiHiddenVines-PZZB.ttf') format('truetype');
}

body {
  background: radial-gradient(var(--oliveGreen), var(--darkOliveGreen));
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

#heading {
  font-size: 4rem;
  color: var(--yellow);
  margin: 10px 0 20px;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  margin: 2px 0;
}

#display-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--lightGreen);
}

.button {
  border: none;
  border-radius: 4px;
  padding: 8px;
  background-color: var(--lightGreen);
  color: var(--darkOliveGreen);
  width: 130px;
  height: 40px;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: 2px 2px 5px var(--darkOliveGreen);
}

.button:hover {
  color: var(--yellow);
  background-color: var(--oliveGreen);
}

#theme-select {
  text-align: left;
}

.display-item {
  display: grid;
  grid-template-columns: 90px 50px;
  width: 140px;
}

#timer {
  text-align: left;
}

#score, #flips {
  text-align: right;
}

.svgDefs {
  grid-column: 1/-1;
  height: 0px;
}

.shadow {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

.card-container {
  position: relative;
  height: 150px;
  width: 110px;
  pointer-events: none;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--darkOliveGreen);
  border-radius: 3px;
  perspective: 1000px;
  backface-visibility: hidden;
  transition: transform 500ms linear;
}

.card-front {
  background: radial-gradient(var(--lightGreen), var(--darkOliveGreen));
  transform: rotateY(0deg);
}

.card-front-text {
  fill: var(--darkOliveGreen);
  stroke: var(--darkOliveGreen); 
  stroke-width: 2;
  font-size: 34px;
}

.card-back {
  background-color:white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container.flip .card-front{
  transform: rotateY(-180deg);
}

.card-container.flip .card-back{
  transform: rotateY(0deg);
}

#close-div {
  text-align: right;
}

#close {
  color: yellow;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

#footer {
  margin-top: 15px;
  font-weight: bold;
  font-size: 0.95em;
}

@media screen and (max-width: 720px) {
  #heading {
    font-size: 3.5rem;
  }

  #game-container {
    grid-template-columns: repeat(3, auto);
  }

  #display-container {
    font-size: 1.5rem;
  }
  
  .button {
    padding: 6px;
    width: 110px;
    height: 32px;
    font-size: 1rem;
  }

  .display-item {
    grid-template-columns: 75px 40px;
    width: 115px;
  }
}

@media screen and (max-width: 450px) {
  #heading {
    font-size: 3rem;
  }

  #game-container {
    grid-template-columns: repeat(2, auto);
  }

  #display-container {
    flex-direction: column;
    justify-content: left;
    font-size: 1.5rem;
  }
  
  .button {
    padding: 6px;
    width: 110px;
    height: 30px;
    font-size: 1rem;
    margin-bottom: 8px;
  }

  #score, #flips {
    text-align: left;
  }
  
  #flips-amt {
    text-align: left;
  }
}